<div class="row justify-content-center align-items-center">
    <br>
    <p>
        <a class="poweredby" href="https://darksky.net/poweredby/">
               Powered by Dark Sky
    </a>
    </p>
</div>