<% include ./partials/head.ejs %>
    <!-- Page Content -->
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 text-center">
                <a href="/">
                    <h1 class="mt-4 text-red">Weather 1.0</h1>
                </a>
                <p class="currentlytext">
                    oops! Something Went Wrong.
                </p>
                <a href="/" class="retrytext"> Try again</a>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <% include ./partials/foot.ejs %>