<% include ./partials/head.ejs %>
    <!-- Page Content -->
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-12 text-center">
                <div class="row justify-content-center align-items-center">
                    <a href="/">
                        <h1 class="mt-3 text-red">Weather 1.0</h1>
                    </a>
                </div>
                <div class="row text-center justify-content-center align-items-center">
                    <form method="POST">
                        <div class="form-group" id="prefetch">
                            <input type="text" name="city" class="form-control-lg" placeholder="Search by city" data-provide="typeahead" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <!--Card Primary-->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h2>
                                    <%= cityTemp %>&#8451;
                                </h2>
                                <p>
                                    <%= city %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ./partials/darksky.ejs %>
            </div>
        </div>
    </div>
    <!--End of Page Content -->
    <% include ./partials/foot.ejs %>